[submodule "spider-core"]
	path = spider-core
	url = https://github.com/spider-lib/spider-core
[submodule "spider-macro"]
	path = spider-macro
	url = https://github.com/spider-lib/spider-macro
[submodule "spider-util"]
	path = spider-util
	url = https://github.com/spider-lib/spider-util
[submodule "spider-middleware"]
	path = spider-middleware
	url = https://github.com/spider-lib/spider-middleware
[submodule "spider-pipeline"]
	path = spider-pipeline
	url = https://github.com/spider-lib/spider-pipeline
[submodule "spider-downloader"]
	path = spider-downloader
	url = https://github.com/spider-lib/spider-downloader
